.task {
  width: 400px;
  margin: 50px auto;
  text-align: center;
  font-family: Arial, sans-serif;
  /* background-color: #f8f9fa; */
  padding: 20px;
  border-radius: 10px;
}

/* .task h2 {
  color: #333;
  margin-bottom: 15px;
}

.task label {
  font-weight: bold;
  margin-right: 8px; */
/* } */

.task input {
  padding: 8px;
  width: 60%;
  border: 1px solid #ccc;
  border-radius: 5px;
  margin-right: 8px;
  outline: none;
}

.task button {
  padding: 8px 15px;
  background-color: #18191a;
  border: none;
  border-radius: 5px;
  color: white;
  cursor: pointer;
}

/* .task button:hover {
  background-color: #0056b3;
} */

.task ul {
  list-style: none;
  padding: 0;
  margin-top: 20px;
  text-align: left;
}

.task li {
  background-color: white;
  margin-bottom: 8px;
  padding: 8px 12px;
  border-radius: 5px;
  border: 1px solid #ddd;
}
